@model IEnumerable<ProyectoWeb.Models.Purchases>

@{
    ViewBag.Title = "Compras";
}

<h2 class="text-center mb-4">Compras</h2>


<table class="table  table-hover" ">
    <tr class="text-center " style="background-color: dimgray;">
        <th class="text-white">
            FECHA
        </th>
        <th class="text-white" ">
            PRODUCTO
        </th>
        <th class="text-white">
            CANTIDAD
        </th>
        <th class="text-white">
            COSTO UNITARIO
        </th>
        <th class="text-white">
            COSTO TOTAL
        </th>
        <th class="text-white">
            NOMBRE
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr class="text-center">
            <td>
                @Html.DisplayFor(modelItem => item.date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.product)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.unit_cost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.total_cost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Suppliers.name)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.purchase_id }, new { @class = "btn btn-outline-secondary " })
                @Html.ActionLink("Detalles", "Details", new { id = item.purchase_id }, new { @class = "btn btn-outline-info " })
                @Html.ActionLink("Borrar", "Delete", new { id = item.purchase_id }, new { @class = "btn btn-outline-danger " })
            </td>
        </tr>
    }

</table>

<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary " })
</p>