@model IEnumerable<ProyectoWeb.Models.Sales>

@{
    ViewBag.Title = "VistaVentas";
}

<h2>VistaVentas</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Inventory.product_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Inventory.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User.firstname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.total_cost)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Inventory.product_id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Inventory.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.firstname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.total_cost)
            </td>

        </tr>
    }

</table>

@using (Html.BeginForm("VistaReporte", "ReporteVentas", FormMethod.Get))
{
    <div>

        <label for="idProducto">ID Producto</label>
        <input type="number" id="idProducto" name="idProducto" />
        <button type="submit">Generar reporte filtrado</button>
        <div>
            <a href="@Url.Action("VistaReporteVentas", new {format = "pdf"})" class="btn btn-danger" role="button">
                reporte pdf
            </a>
        </div>
        <div>
            <a href="@Url.Action("VistaReporteVentas", new {format = "Excel"})" class="btn btn-success" role="button">
                reporte excel
            </a>
        </div>
        <div>
            <a href="@Url.Action("VistaReporteVentas", new {format = "Word"})" class="btn btn-info" role="button">
                reporte word
            </a>
        </div>
    </div>
}
