@model ProyectoWeb.Models.Inventory

@{
    ViewBag.Title = "Details";
}

<h2>Detalles</h2>

<div>
    <h4>Inventario</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.stock)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.stock)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Inventory_movements.type_movement)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Inventory_movements.type_movement)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Purchases.product)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Purchases.product)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.product_id }, new { @class = "btn btn-success" }) |
    @Html.ActionLink("Regresar", "Index", null, new { @class = "btn btn-primary" })
</p>
