@model IEnumerable<ProyectoWeb.Models.Inventory>

@{
    ViewBag.Title = "Inventario";
}

<h2 class="text-center mb-4" >Inventario</h2>


<table class="table  table-hover" ">
    <tr class="text-center "style="background-color: dimgray;">
        <th class="text-white" >
           NOMBRE
        </th>
        <th class="text-white" ">
           COSTO
        </th>
        <th class="text-white">
           DISPONIBLES
        </th>
        <th class="text-white" >
           PRODUCTO
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr class="text-center">
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cost)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.stock)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Purchases.product)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id = item.product_id }, new { @class = "btn btn-outline-secondary " }) 
            @Html.ActionLink("Detalles", "Details", new { id = item.product_id }, new { @class = "btn btn-outline-info " }) 
          
        </td>
    </tr>
}

</table>

<p>
    @Html.ActionLink("Crear Nuevo", "Create", null, new { @class = "btn btn-primary " })
</p>
